In [62]:
from platform import python_version
import sqlite3
import mysql.connector as mysql

In [53]:
def main():
    print(f'This is python version {python_version()}')
    print(f"This is sqlite version {sqlite3.sqlite_version}")
    print(f"This is mysql connector version {mysql.connector.__version__}")
if __name__=="__main__":
    main()
else:
    print("Error")

This is python version 3.8.5
This is sqlite version 3.33.0
This is mysql connector version 8.0.27

In [70]:
def main():
    db=sqlite3.connect("C:/Users/anvay/Downloads/Ex_Files_Using_SQL_With_Python/ExerciseFiles/db/scratch.db")
    cur=db.cursor()
    cur.execute("select sqlite_version()")
    version=cur.fetchone()[0]
    print(f"sqlite version-{version}")
    cur.close
    db.close
if __name__=="__main__":
    main()

sqlite version-3.33.0

In [ ]:
def main():
    db=mysql.connect(host="localhost",user='root',password="password")
    cur=db.cursor()
    cur.execute("select VERSION()")
    version=cur.fetchone()[0]
    print(f"mysql version-{version}")
    cur.close
    db.close
if __name__=="__main__":
    main()

In [69]:
##Can use fet

mysql version-8.0.27

In [96]:
db=sqlite3.connect("C:/Users/anvay/Downloads/Ex_Files_Using_SQL_With_Python/ExerciseFiles/db/scratch.db",timeout=60)
cur=db.cursor()
cur.execute("drop table if exists temp1")
cur.execute("Create table temp1 (a int, b int, c int)")
cur.execute("insert into temp1 values(1,2,3)")
cur.execute("insert into temp1 values(2,3,4)")
cur.execute("insert into temp1 values(3,4,5)")
db.commit
cur.execute("select * from temp1")
row=cur.fetchone()
while row:
    print(row)
    row=cur.fetchone()
cur.close
db.close

OperationalError: database is locked

In [95]:
cur=db.cursor()
cur.execute("drop table if exists temp")
cur.execute("Create table temp (a int, b int, c int)")
cur.execute("insert into temp values(1,2,3)")
cur.execute("insert into temp values(2,3,4)")
cur.execute("insert into temp values(3,4,5)")
db.commit
for row in cur.execute("select * from temp"):
    print(row)
cur.close
db.close

OperationalError: database is locked